<h1>Welcome to Recipe App</h1>
you are logged in as: <%= current_user.email %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'sign-out-btn' %>

<div class=home-page>
  <%= link_to 'Foods', user_food_index_path(current_user) %>
  <%= link_to 'Recipes', user_recipe_index_path(current_user) %>
</div>



