body {
  margin: 50px 200px;
}

a {
  text-decoration: none;
}

a:link {
  color: #c7aa29;
}

a:visited {
  color: #213ec0;
}

a:hover {
  color: #b31c1c;
}

a:active {
  color: #333;
}

.title {
  text-align: center;
  font-size: 40px;
}

.form-holder {
  width: 80%;
  margin: auto;
  padding: 30px 0 0 0;
  text-align: center;
  height: 100vh;
}

.field {
  margin: 40px 0 0 0;
}

.sign-up {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  margin: 40px 0 0 0;
}

.default > :any-link {
  color: blue;
}

.default > :any-link:hover {
  color: orange;
}

.area {
  width: 80%;
  height: 50px;
  padding: 0 2% 0 2%;
  border-radius: 8px;
}

.login-btn {
  width: 80%;
  height: 50px;
  cursor: pointer;
  color: blue;
  border-radius: 8px;
}

.login-btn:hover {
  color: orange;
}

.sign-out-btn {
  margin-top: 10px;
}

.home-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.index-container {
  margin: 20px 0;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid #717894;
  background: #a8cac0;
}

.recipe-card {
  display: flex;
}

.left-box {
  display: flex;
  flex-direction: column;
  flex: 0.45;
  text-align: center;
  margin: 0;
  padding: 0;
}

.left-box > p {
  font-size: 10px;
  font-style: italic;
  text-align: left;
  margin: 0;
  padding: 0;
}

.right-box {
  flex: 0.55;
  font-size: 20px;
  align-items: center;
  padding: 12px;
}

.table {
  width: 100%;
  color: #fff;
}

.table,
th,
td {
  border: 2px solid #43aadd;
  border-collapse: collapse;
  padding: 12px 5px;
}

th {
  background-color: #101110;
}

tr {
  background-color: #1b3c5c;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #85868d;
}

.bar-hor {
  display: flex;
  justify-content: space-between;
}
