body {
  margin: 50px 200px;
}

a:link {
  color: #c7aa29;
}

a:visited {
  color: #213ec0;
}

a:hover {
  color: #b31c1c;
}

a:active {
  color: #333;
}

.title {
  text-align: center;
  font-size: 40px;
}

.form-holder {
  width: 80%;
  margin: auto;
  padding: 30px 0 0 0;
  text-align: center;
  height: 100vh;
}

.field {
  margin: 40px 0 0 0;
}

.sign-up {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  margin: 40px 0 0 0;
}

.default > :any-link {
  color: blue;
}

.default > :any-link:hover {
  color: orange;
}

.area {
  width: 80%;
  height: 50px;
  padding: 0 2% 0 2%;
  border-radius: 8px;
}

.login-btn {
  width: 80%;
  height: 50px;
  cursor: pointer;
  color: blue;
  border-radius: 8px;
}

.login-btn:hover {
  color: orange;
}

.sign-out-btn {
  margin-top: 10px;
}

.index-container {
  margin: 20px 0;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #717894;
  background: #a8cac0;
}
