<div class="recipeFoodEditContainer">
<h1 class="recipeFoodEdit">Edit Recipe Food</h1>
<%= render "update", recipe_food: @recipe_food %>
<br>
<div>
  <%= link_to "Back to recipe foods", user_recipe_path(@user, @recipe) %>
</div>

</div>